.container {
  display: flex;
  flex-direction: column;
}

.infoBox {
  display: flex;
  flex-direction: column;
}

.info {
  margin-left: 25px;
}

.subNav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
}

.subNavLink {
  display: block;
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 13px;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #baddff;
}

@media screen and (min-width: 720px) {
  .infoBox {
    flex-direction: row;
  }
} ;
