.list {
  list-style: none;
  padding: 0;
}

.item {
  display: block;
  margin: 25px;
  padding: 20px;
  border: 1px grey;
  border-style: solid dashed solid dashed;
}

.author {
  margin-top: 0;
  margin-bottom: 10px;
}

.review {
  margin: 0;
}
